.About {
  width: 100%;
  height: 130vh;
  background-color: rgba(112, 128, 144, 50);
  padding: 3rem 10rem 0 13rem;
  @include repsond(tab-land) {
    width: 100%;
    height: 190vh;
    padding: 2rem 5.5rem;
  }
  @include repsond(tab-port) {
    width: 100%;
    height: 180vh;
    padding: 2rem 5.5rem;
  }
  @include repsond(x-phone) {
    width: 100%;
    height: 185vh;
    padding: 2rem 5rem;
  }
  @include repsond(m-phone) {
    width: 100%;
    height: 178vh;
    padding: 2.4rem;
  }
  @include repsond(s-phone) {
    width: 100%;
    height: 170vh;
    padding: 2rem 1.5rem;
  }
  &__boxes {
    display: grid;
    grid-template-columns: 17rem 17rem 17rem;
    grid-template-rows: 14rem 14rem;
    grid-gap: 0.4rem;
    color: white;
    @include repsond(tab-land) {
      grid-template-rows: 14rem 14rem;
      grid-template-columns: 15rem 15rem 15rem;
    }
    @include repsond(tab-port) {
      grid-template-columns: 16rem 16rem;
      grid-template-rows: 11rem 11rem 11rem;
    }
    @include repsond(x-phone) {
      grid-template-columns: 14rem 14rem;
      grid-template-rows: 11rem 11rem 11rem;
    }
    @include repsond(m-phone) {
      grid-template-columns: 11rem 11rem;
      grid-template-rows: 11rem 11rem 11rem;
    }
    @include repsond(s-phone) {
      grid-template-columns: 10rem 10rem;
      grid-template-rows: 11rem 11rem 11rem;
    }
    // border: 1px solid lightgray;
    &--1,
    &--2,
    &--3,
    &--4,
    &--5,
    &--6 {
      @include box;
    }
    &--1 > h3,
    &--2 > h3,
    &--3 > h3,
    &--4 > h3,
    &--5 > h3,
    &--6 > h3 {
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.9);
      margin-bottom: 0.3rem;
      @include repsond(tab-land) {
        margin-right: 0.1rem;
      }
      @include repsond(tab-port) {
        margin-right: 0.1rem;
      }
      @include repsond(x-phone) {
        font-size: 0.8rem;
        margin-right: 0.1rem;
      }
      @include repsond(m-phone) {
        font-size: 0.8rem;
        margin-bottom: 0.1rem;
      }
      @include repsond(s-phone) {
        font-size: 0.8rem;
        margin-bottom: 0.1rem;
      }
    }
    &--1 > p,
    &--2 > p,
    &--3 > p,
    &--4 > p,
    &--5 > p,
    &--6 > p {
      font-size: 0.7rem;
      color: rgba(255, 255, 255, 0.85);
    }
  }
}
#code,
#globe,
#resize,
#gauge,
#tools,
#circle {
  @include iconResize;
}
.About__me {
  width: 100%;
  height: 20vh;
  color: white;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.5rem;
  @include repsond(tab-port) {
    width: 100%;
    height: 18vh;
    font-size: 0.85rem;
    line-height: auto;
    margin-bottom: 5rem;
  }
  @include repsond(x-phone) {
    width: 100%;
    height: 15vh;
    font-size: 0.76rem;
    line-height: auto;
    margin-bottom: 7rem;
    text-align: center;
  }
  @include repsond(m-phone) {
    width: 95%;
    height: 15vh;
    font-size: 0.76rem;
    line-height: auto;
    margin-bottom: 7rem;
    text-align: center;
  }
  @include repsond(s-phone) {
    width: 90%;
    height: 15vh;
    font-size: 0.7rem;
    line-height: auto;
    margin-bottom: 7rem;
    margin-left: 1rem;
  }
}
