.Contacts {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("/Images/pexels-cottonbro-4709285.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7rem 0 0 12rem;
  &__wrapper {
    width: 80%;
    height: 65vh;
    display: flex;
    padding-top: 4rem;
    padding-left: 2rem;
    // background-color: pink;
  }
}
.form {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
}
#name,
#email,
#mssg {
  width: 75%;
  height: 5vh;
  margin-bottom: 0.2rem;
  border: 1px solid lightgray;
  padding-left: 0.3rem;
  background-color: transparent;
  color: #fff;
}
::placeholder {
  color: lightgray;
  font-family: poppins, sans-serif;
  font-size: 0.7rem;
}
#mssg {
  height: 25vh;
  resize: none;
}
.submit {
  width: 75%;
  height: 5vh;
  cursor: pointer;
  border: none;
  font-family: poppins, sans-serif;
}
.ownerInfo > h4 {
  color: lightgray;
  margin-bottom: 0.6rem;
  font-weight: 700;
  font-size: 0.8rem;
}
