.Contacts {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(112, 128, 144, 0.6),
      rgba(112, 128, 144, 0.6)
    ),
    url("/Images/pexels-cottonbro-4709285.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7rem 0 0 12rem;
  @include repsond(tab-port) {
    width: 100%;
    height: 110vh;
    padding: 7rem 5rem;
  }
  @include repsond(x-phone) {
    width: 100%;
    height: 120vh;
    padding: 7rem 3rem;
  }
  @include repsond(m-phone) {
    width: 100%;
    height: 120vh;
    padding: 7rem 3rem;
  }
  @include repsond(s-phone) {
    width: 100%;
    height: 90vh;
    padding: 3rem 0rem;
  }
  @include repsond(xs-phone) {
    width: 100%;
    height: 90vh;
    padding: 3rem 0;
  }
  &__wrapper {
    width: 80%;
    height: 65vh;
    display: flex;
    padding-top: 4rem;
    padding-left: 2rem;
    // background-color: pink;
    @include repsond(tab-port) {
      width: 100%;
      height: 100vh;
      flex-direction: column;
      padding: 3rem;
    }
    @include repsond(x-phone) {
      width: 100%;
      height: 100vh;
      flex-direction: column;
      padding: 2rem;
    }
    @include repsond(m-phone) {
      width: 100%;
      height: 100vh;
      flex-direction: column;
      padding: 2rem;
    }
    @include repsond(s-phone) {
      width: 100%;
      height: 100vh;
      flex-direction: column;
      padding: 1.5rem 1rem;
    }
  }
}
.form {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  @include repsond(tab-port) {
    margin-left: 6.5rem;
    flex: 0 0 50%;
    margin-bottom: 2rem;
  }
  @include repsond(x-phone) {
    flex: 0 0 50%;
    margin-bottom: 2rem;
    margin-left: 7rem;
  }
  @include repsond(m-phone) {
    flex: 0 0 60%;
    margin-left: 3rem;
  }
  @include repsond(s-phone) {
    flex: 0 0 60%;
    margin-left: 2rem;
  }
}
#name,
#email,
#mssg {
  width: 75%;
  height: 5vh;
  margin-bottom: 0.2rem;
  border: 1px solid lightgray;
  padding-left: 0.3rem;
  background-color: transparent;
  color: #fff;
  @include repsond(x-phone) {
    width: 75%;
    height: 6vh;
  }
  @include repsond(m-phone) {
    width: 85%;
    height: 6vh;
  }
  @include repsond(s-phone) {
    width: 80%;
    height: 2rem;
  }
  @include repsond(xs-phone) {
    width: 80%;
    height: 1.7rem;
  }
}
#name:active,
#name:focus,
#email:active,
#email:focus,
#mssg:active,
#mssg:focus {
  outline: none;
}
::placeholder {
  color: lightgray;
  font-family: poppins, sans-serif;
  font-size: 0.7rem;
}
#mssg {
  height: 25vh;
  resize: none;
}
.submit {
  width: 75%;
  height: 5vh;
  cursor: pointer;
  border: none;
  font-family: poppins, sans-serif;
  @include repsond(x-phone) {
    width: 75%;
  }
  @include repsond(m-phone) {
    width: 85%;
  }
  @include repsond(s-phone) {
    width: 80%;
  }
}
.ownerInfo > h4 {
  color: lightgray;
  margin-bottom: 0.6rem;
  font-weight: 700;
  font-size: 0.8rem;
  @include repsond(tab-port) {
    margin-left: 6.5rem;
    font-size: 0.7rem;
  }
  @include repsond(x-phone) {
    font-size: 0.7rem;
    margin-left: 7rem;
  }
  @include repsond(m-phone) {
    font-size: 0.6rem;
    margin-left: 3rem;
  }
  @include repsond(s-phone) {
    font-size: 0.6rem;
    margin-left: 2rem;
  }
}
