.extrapage {
  width: 100%;
  height: 65vh;
  background-color: rgba(0, 0, 0, 1);
  @include repsond(m-phone) {
    width: 100%;
    height: 100vh;
  }
  @include repsond(s-phone) {
    width: 100%;
    height: 100vh;
  }
}
.FAQ {
  width: 100%;
  height: 100%;
  padding: 4rem;
  @include repsond(m-phone) {
    padding: 2rem;
  }
  @include repsond(s-phone) {
    padding: 2rem;
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
    cursor: pointer;
    @include repsond(m-phone) {
      font-size: 0.7rem;
      font-weight: 400;
    }
    @include repsond(s-phone) {
      font-size: 0.7rem;
      font-weight: 400;
    }
  }
  &__1,
  &__2,
  &__3 {
    width: 80%;
    height: 12vh;
    background-color: white;
    margin-bottom: 0.2rem;
    padding: 0.7rem 0 0 1rem;

    color: rgba(0, 0, 0, 0.8);
    @include repsond(m-phone) {
      width: 100%;
      height: 15vh;
      padding: 0.7rem;
    }
    @include repsond(s-phone) {
      width: 100%;
      height: 15vh;
      padding: 0.7rem;
    }
  }
  &__1--heading,
  &__2--heading,
  &__3--heading {
    display: flex;
    justify-content: space-between;
    @include repsond(m-phone) {
      font-size: 0.7rem;
      align-items: center;
    }
    @include repsond(s-phone) {
      font-size: 0.6rem;
      align-items: center;
    }
  }
  &__1--text,
  &__2--text,
  &__3--text {
    display: none;
    font-size: 0.7rem;
    font-weight: 500;
    width: 70%;
  }
}
.cross {
  fill: black;
  width: 1rem;
  height: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}
.FAQ__1--headingBtn,
.FAQ__2--headingBtn,
.FAQ__3--headingBtn {
  font-size: 0.7rem;
  border: 1px solid #666;
  margin-right: 1.5rem;
  height: 1.8rem;
  width: 5rem;
  text-align: center;
  padding: 0.4rem;
  cursor: pointer;
  @include repsond(m-phone) {
    font-size: 0.5rem;
    height: 1rem;
    width: 5rem;
    padding: 0.15rem;
    margin-right: 0.2rem;
    border: none;
    border-radius: 50rem;
    background-color: lightcoral;
  }
  @include repsond(s-phone) {
    font-size: 0.5rem;
    height: 1rem;
    width: 5rem;
    padding: 0.15rem;
    margin-right: 0.2rem;
    border: none;
    border-radius: 50rem;
    background-color: lightcoral;
  }
}
.FAQ__1--headingBtnLess,
.FAQ__2--headingBtnLess,
.FAQ__3--headingBtnLess {
  font-size: 0.7rem;
  border: 1px solid #666;
  margin-right: 1.5rem;
  height: 1.8rem;
  width: 5rem;
  text-align: center;
  padding: 0.4rem;
  cursor: pointer;
  display: none;
  @include repsond(m-phone) {
    font-size: 0.5rem;
    height: 1rem;
    width: 5rem;
    padding: 0.15rem;
    margin-right: 0.2rem;
    border: none;
    border-radius: 50rem;
    background-color: lightcoral;
  }
  @include repsond(s-phone) {
    font-size: 0.5rem;
    height: 1rem;
    width: 5rem;
    padding: 0.15rem;
    margin-right: 0.2rem;
    border: none;
    border-radius: 50rem;
    background-color: lightcoral;
  }
}
