.home {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      180deg,
      #ccccff,
      rgba(255, 204, 204, 0.75),
      rgba(255, 204, 204, 0.95)
        /*rgba(0, 0, 0, 0.95),
      rgba(0, 0, 0, 0.95)*/
    ),
    url("../Images/anthony-riera-it9kG_dWyVo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 3.5rem;
  position: relative;
  @include repsond(tab-land) {
    width: 100%;
    height: 100vh;
    padding: 1.4rem 2.5rem;
  }
  @include repsond(tab-port) {
    width: 100%;
    height: 100vh;
    padding: 1.4rem 2.5rem;
  }
  @include repsond(x-phone) {
    width: 100%;
    height: 100vh;
    padding: 1.4rem 2.5rem;
  }
  @include repsond(m-phone) {
    width: 100%;
    height: 100vh;
    padding: 1.4rem 2rem;
  }
  @include repsond(s-phone) {
    width: 100%;
    height: 100vh;
    padding: 1.3rem 2rem;
  }

  /////////////////
  //////////////NAVIGATION BAR //////////////////////////
  &__nav {
    color: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    @include repsond(tab-land) {
      width: 100%;
      height: 7.5vh;
      padding: 0.7rem 0;
      font-size: 0.7rem;
    }
    @include repsond(tab-port) {
      width: 100%;
      height: 7.5vh;
      padding: 0.7rem 0;
      font-size: 0.7rem;
    }
    @include repsond(x-phone) {
      width: 100%;
      height: 7vh;
      padding-top: 0.7rem;
    }
    @include repsond(m-phone) {
      width: 100%;
      height: 7vh;
      padding-top: 0.7rem;
    }
    @include repsond(s-phone) {
      width: 100%;
      height: 7vh;
      padding-top: 0.7rem;
    }

    &--logo {
      flex: 0 0 65%;
      cursor: pointer;
      @include repsond(tab-port) {
        flex: 0 0 50%;
      }
    }
    &--list {
      flex: 1;
      display: flex;
      justify-content: space-between;
      @include repsond(x-phone) {
        display: none;
      }
      @include repsond(m-phone) {
        display: none;
      }
      @include repsond(s-phone) {
        display: none;
      }
    }
    &--list > li {
      list-style-type: none;
    }
    &--list > li a {
      text-decoration: none;
      font-weight: 600;
      cursor: pointer;
    }
  }
  /////////////////
  //////////////HOME PAGE BODY //////////////////////////
  &__body {
    &--title {
      width: 100%;
      height: 15vh;
      margin: 10rem 0 1rem 0;
      @include repsond(tab-land) {
        margin: 10rem 0 0.5rem 0;
      }
      @include repsond(tab-port) {
        margin: 10rem 0 0.5rem 0;
      }
      @include repsond(x-phone) {
        margin: 10rem 0 0.5rem 0;
      }
      @include repsond(m-phone) {
        margin: 10rem 0 0.5rem 0;
      }
      @include repsond(s-phone) {
        margin: 10rem 0 0.5rem 0;
      }
    }

    &--title > p {
      color: rgba(0, 0, 0, 0.95);
      font-size: 1rem;
      font-weight: 600;
      @include repsond(tab-land) {
        font-size: 1rem;
        font-weight: 600;
      }
      @include repsond(tab-port) {
        font-size: 1rem;
        font-weight: 600;
      }
      @include repsond(x-phone) {
        font-size: 0.9rem;
        font-weight: 600;
      }
      @include repsond(m-phone) {
        font-size: 0.6rem;
        font-weight: 600;
      }
      @include repsond(s-phone) {
        font-size: 0.6rem;
        font-weight: 600;
      }
    }
    &--buttons {
      color: rgba(255, 255, 255, 0.9);
      width: 26%;
      height: 7vh;
      display: flex;
      justify-content: space-between;
      @include repsond(tab-land) {
        width: 33%;
        margin-top: 2rem;
      }
      @include repsond(tab-port) {
        width: 45%;
        margin-top: 2rem;
      }
      @include repsond(x-phone) {
        width: 48%;
        margin-top: 1rem;
      }
      @include repsond(m-phone) {
        width: 55%;
        margin-top: 0;
      }
      @include repsond(s-phone) {
        width: 67%;
        margin-top: 0;
      }
    }
    &--buttons > .hireBtn {
      width: 8rem;
      height: 5.7vh;
      color: #fff;
      background-color: rgb(0, 0, 0);
      text-align: center;
      font-size: 0.8rem;
      font-weight: 600;
      padding: 0.5rem 0;
      cursor: pointer;
      @include repsond(tab-land) {
        width: 8.5rem;
        height: 7vh;
      }
      @include repsond(tab-port) {
        width: 8.5rem;
        height: 7vh;
      }
      @include repsond(x-phone) {
        width: 7.5rem;
        height: 6.6vh;
        font-weight: 700;
        padding: 0.4rem 0;
      }
      @include repsond(m-phone) {
        width: 7rem;
        height: 6.6vh;
        font-weight: 700;
        font-size: 0.7rem;
        padding: 0.4rem 0;
      }
      @include repsond(s-phone) {
        width: 6rem;
        height: 5.7vh;
        font-size: 0.6rem;
        font-weight: 700;
        padding: 0.4rem 0;
      }
    }

    &--buttons > .needAWebsiteBtn {
      width: 8rem;
      height: 5.7vh;
      color: rgba(0, 0, 0, 0.9);
      border: 1px solid rgb(0, 0, 0);
      text-align: center;
      padding: 0.5rem 0;
      font-weight: 700;
      font-size: 0.7rem;
      cursor: pointer;
      @include repsond(tab-land) {
        width: 7.5rem;
        height: 7vh;
      }
      @include repsond(tab-port) {
        width: 7.5rem;
        height: 7vh;
      }
      @include repsond(x-phone) {
        width: 7rem;
        height: 6.6vh;
        padding: 0.4rem 0;
        font-weight: 700;
      }
      @include repsond(m-phone) {
        width: 7rem;
        height: 6.6vh;
        padding: 0.4rem 0;
        font-weight: 700;
        font-size: 0.7rem;
      }
      @include repsond(s-phone) {
        width: 6rem;
        height: 5.7vh;
        padding: 0.3rem 0;
        font-size: 0.6rem;
        font-weight: 700;
      }
    }
  }
}
.hireBtn > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.95);
  text-transform: uppercase;
}
.needAWebsiteBtn > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 700;
  text-transform: uppercase;
}
.wrapperSmall {
  box-sizing: content-box;
  display: flex;
  height: 4.2rem;
  color: rgba(0, 0, 0, 0.9);
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: poppins;
  @include repsond(tab-land) {
    margin-bottom: 0.5rem;
    height: 3rem;
  }
  @include repsond(tab-port) {
    margin-bottom: 0.3rem;
    height: 2.9rem;
  }
  @include repsond(x-phone) {
    font-size: 1.89rem;
    height: 2.6rem;
    margin-bottom: 0.1rem;
  }
  @include repsond(m-phone) {
    font-size: 1.5rem;
    height: 2.4rem;
    margin-bottom: 0;
  }
  @include repsond(s-phone) {
    font-size: 1.5rem;
    height: 2.7rem;
    margin-bottom: 0;
  }
}
.words {
  overflow: hidden;
}
span {
  display: block;
  height: 100%;
  padding-left: 1rem;
  padding-top: 0.35rem;
  font-size: 2.2rem;
  font-weight: 700;
  animation: spin_words 6s infinite;
  text-transform: uppercase;
  @include repsond(tab-land) {
    font-size: 2rem;
    padding-left: 0.6rem;
  }
  @include repsond(x-phone) {
    font-size: 1.89rem;
    padding-left: 0.6rem;
  }
  @include repsond(m-phone) {
    font-size: 1.5rem;
    padding-left: 0.6rem;
    padding-top: 0.2rem;
  }
  @include repsond(s-phone) {
    font-size: 1.2rem;
    padding-left: 0.5rem;
    padding-top: 0.1rem;
  }
}
@keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  // 60% {
  //   transform: translateY(-312%);
  // }
  // 75% {
  //   transform: translateY(-300%);
  // }
  85% {
    transform: translateY(-212%);
  }
  100% {
    transform: translateY(-200%);
  }
}
.home__nav2 {
  width: 100%;
  height: 3rem;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 3rem;
  font-size: 0.8rem;
  font-weight: 500;
  overflow: hidden;
  display: none;
  @include repsond(tab-land) {
    width: 100%;
    padding: 0.4rem 2.5rem;
    font-size: 0.7rem;
  }
  @include repsond(tab-port) {
    width: 100%;
    padding: 0.4rem 2.5rem;
    font-size: 0.7rem;
  }
  @include repsond(x-phone) {
    width: 100%;
    padding: 0.3rem 2rem;
  }
  @include repsond(m-phone) {
    width: 100%;
    padding: 0.3rem 2rem;
  }
  @include repsond(s-phone) {
    width: 100%;
    padding: 0.3rem 2rem;
  }
  &--logo {
    flex: 0 0 70%;
    cursor: pointer;
    @include repsond(tab-land) {
      flex: 0 0 45%;
    }
    @include repsond(tab-port) {
      flex: 0 0 50%;
    }
  }
  &--list {
    flex: 1;
    display: flex;
    justify-content: space-between;
    @include repsond(x-phone) {
      display: none;
    }
    @include repsond(m-phone) {
      display: none;
    }
    @include repsond(s-phone) {
      display: none;
    }
  }
  &--list > li {
    list-style-type: none;
  }
  &--list > li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    cursor: pointer;
  }
}

.Home,
.about,
.portfolio,
.plans,
.contacts {
  cursor: pointer;
}
