.home {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.95),
      rgba(0, 0, 0, 0.95)
    ),
    url("../Images/anthony-riera-it9kG_dWyVo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 3.5rem;
  /////////////////
  //////////////NAVIGATION BAR //////////////////////////
  &__nav {
    color: white;
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    &--logo {
      flex: 0 0 70%;
      cursor: pointer;
    }
    &--list {
      flex: 1;
      display: flex;
      justify-content: space-between;
    }
    &--list > li {
      list-style-type: none;
    }
    &--list > li a {
      text-decoration: none;
      color: white;
      font-weight: 500;
      cursor: pointer;
    }
  }
  /////////////////
  //////////////HOME PAGE BODY //////////////////////////
  &__body {
    &--title {
      width: 70%;
      height: 15vh;
      margin: 10rem 0 2rem 0;
    }
    &--title > h3 {
      color: rgba(255, 255, 255, 0.9);
      font-size: 2.7rem;
      font-family: inherit;
    }
    &--title > p {
      color: rgba(255, 255, 255, 0.75);
      font-size: 1rem;
    }
    &--buttons {
      color: white;
      width: 26%;
      height: 7vh;
      display: flex;
      justify-content: space-between;
    }
    &--buttons > .hireBtn {
      width: 8rem;
      height: 5.7vh;
      color: rgba(0, 0, 0, 0.75);
      background-color: #c4c4c4;
      text-align: center;
      font-size: 0.8rem;
      font-weight: 600;
      padding: 0.5rem 0;
      cursor: pointer;
    }
    &--buttons > .needAWebsiteBtn {
      width: 8rem;
      height: 5.7vh;
      color: rgba(255, 255, 255, 0.9);
      border: 1px solid lightgray;
      text-align: center;
      padding: 0.5rem 0;
      font-weight: 500;
      font-size: 0.7rem;
      cursor: pointer;
    }
  }
}
